{% extends 'layout.html' %}
{% block content %}
    <style>
        .main-navigation {
            background-color: #17428d !important;
        }
        .slideDown {
            background-color: white !important;
        }
        #main {
            margin-top: 70px;
        }
    </style>
<div id="content" class="site-content">

    <div class="autoroyal-front-dashboard">

        <div id="primary" class="content-area">

            <main id="main" class="site-main">

                
                <div class="autoroyal-page-title">

                    <div class="container">

                        <h2>Contact Us</h2>
                        
                    </div>

                </div>

                
                <div class="container">

                    <div class="row">

                        <div class="autoroyal-full-width-page col-md-12">

                            <div class="row justify-content-center">
                                
                                
                                <div class="col-md-8 fantasy-themes-content-width mt-3r">

                                    
                                        
                                    
                                    <div class="autoroyal-page-comments">
                                        
<div id="comments" class="comments-area card">

	
			<div class="wb-comment-form" style="padding: 10px 10px 10px 20px;">
				<div id="respond" class="comment-respond">

<!-- <h5>Contact us</h5> -->
<div>
    <b>Apply and Register:</b> <a href="mailto:Support@maxride.ng">Support@maxride.ng</a>
</div>
<div>
    <b>Refer a friend:</b>
    <a href="mailto:referrals@maxride.ng">Referrals@maxride.ng</a>
</div>

 

                </div><!-- #respond -->
			</div>
	
</div><!-- #comments -->
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </main><!-- #main -->

        </div><!-- #primary -->

    </div>


			</div>
{% endblock %}