{% extends 'layout.html' %}
{% block content %}
    <style>
        .main-navigation {
            background-color: #17428d !important;
        }
        .slideDown {
            background-color: white !important;
        }
        #main {
            margin-top: 70px;
        }
    </style>
<div id="content" class="site-content">

    <div class="autoroyal-front-dashboard">

        <div id="primary" class="content-area">

            <main id="main" class="site-main">

                
                <!-- <div class="autoroyal-page-title" style="background-color: #17428d !important;">

                    <div class="container" style="padding-bottom: 28px;color: white;">

                        <h3>Contact Us</h3>
                        
                    </div>

                </div> -->

                
                <div class="container">

                    <div class="row">

                        <div class="autoroyal-full-width-page col-md-12">

                            <div class="row justify-content-center">
                                
                                
                                <div class="col-md-8 fantasy-themes-content-width mt-3r">

                                    
                                        
                                    
                                    <div class="autoroyal-page-comments">
                                        
<div id="comments" class="comments-area card">

	
			<div class="wb-comment-form" style="padding: 10px 10px 50px 20px;">
				<div id="respond" class="comment-respond">

<!-- <h5>Contact us</h5> -->
<div>
    <b>General Inquiries:</b><br>
    <a href="mailto:Support@maxrides.co.za">Support@maxrides.co.za</a>
</div>
<div>
    <b>Applications/Registration:</b><br>
    <a href="mailto:Recruitment@maxrides.co.za">Recruitment@maxrides.co.za</a>
</div>
<div>
    <b>Refer a friend:</b><br>
    <a href="mailto:Referral@maxrides.co.za">Referral@maxrides.co.za</a>
</div>

 

                </div><!-- #respond -->
			</div>
	
</div><!-- #comments -->
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </main><!-- #main -->

        </div><!-- #primary -->

    </div>


			</div>
{% endblock %}