    {% extends 'layout.html' %}
	{% block content %}
		<div id="content" class="site-content">

    <div class="autoroyal-full-page">

        <div id="primary" class="content-area">
            <main id="main" class="site-main">

                <div class="container">

                    
                        
                                            
                                <section data-vc-full-width="true" data-vc-full-width-init="false" data-vc-bg-color="#F0F7FF" data-vc-bg-pattern-color="#F0F7FF" data-vc-devider-color="#ffffff" data-unique-id="653df29087548" class="vc_section autoroyal-overflow-visible car-makes-section-bg vc_custom_1563748331578 vc_section-has-fill ar-section-pattern-offset-bottom ar-section-bg-oriented-left ar-section-devider ar-section-devider-bottom data-unique-id-653df29087548" style="padding-bottom: 100px !important;">
									<div class="vc_row wpb_row vc_row-fluid autoroyal-overflow-visible autoroyal-bg-img-bottom vc_custom_1553116799011 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12">
									
									<div class="vc_column-inner vc_custom_1563829057040" style="padding: 0;">
										<div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-2 vc_hidden-sm vc_hidden-xs"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8"><div class="vc_column-inner vc_custom_1563829190607"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  vc_custom_1563792916631 text-white" >
		<div class="wpb_wrapper">
			<h1 style="font-weight: bold; font-size: 56px; line-height: 72px; text-align: center;">Get a Car</h1>
<h5 style="text-align: center;">For your ride-hailing driving business from our  vehicle leasing platform.</h5>
<h5 style="text-align: center;">Register with us and get accesss to our robust collection of cars that you can drive on Uber, Bolt, Indrive etc.</h5>

		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-2 vc_hidden-sm vc_hidden-xs"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
    <div class=" vc_custom_1563803183272">

        <div class="autoroyal-homepage-search-box autoroyal-homepage-search-box-rent autoroyal_search_653df29088554">

                            <form id="autoroyal-advance-search-form" action="https://fleetpartners.ng/rent/" method="GET">

                    <div class="search-form-wrapper" style="background-color: transparent;padding: 0;">

                        <div class="row">



<style>
	.custom_carousel_img {
		/* width: 100%; */
		width: max-content !important;
	}
	.custom_carousel_div {
		text-align: center;
		display: flex;
		justify-content: center;
	}
	.nav-cus-btn {
		color: green;
		background-color: white;
		font-size: 1.5em;
		border-radius: 50%;
		padding: 2px 10px;
		/* margin: 10px; */
		position: absolute;
		top: 50%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	}
	.nav-prev {
		left: 5%;
	}
	.nav-next {
		right: 5%;
	}
</style>

<!--
	// nav: true,
	// navText:   ["<div class='nav-button owl-prev'><i class='material-icons'>chevron_left</i></div>", "<div class='nav-button owl-next'><i class='material-icons'>chevron_right</i></div>"],
-->
<div id="owl-carousel-custom" class="owl-carousel">
	<div class="custom_carousel_div">
		<img class="custom_carousel_img" src="/static/images/car1.webp" alt="car1">
	</div>
	<div class="custom_carousel_div">
		<img class="custom_carousel_img" src="/static/images/car2.webp" alt="car2">
	</div>
	<div class="custom_carousel_div">
		<img class="custom_carousel_img" src="/static/images/car3.webp" alt="car3">
	</div>
</div>

                        </div>
                    </div>
                </form>
        </div>
    </div>

	</div></div></div></div></div></div>

</div></div></section><div class="vc_row-full-width vc_clearfix"></div><section data-vc-full-width="true" data-vc-full-width-init="false" data-vc-bg-color="#F0F7FF" data-vc-bg-pattern-color="#F0F7FF" data-vc-devider-color="#F0F7FF" data-unique-id="653df29088827" class="vc_section vc_custom_1556058968137 ar-section-pattern-offset-bottom ar-section-bg-oriented-left data-unique-id-653df29088827"><div class="vc_row wpb_row vc_row-fluid vc_custom_1554213139010"><div class="wpb_column vc_column_container vc_col-sm-3 vc_hidden-sm vc_hidden-xs"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="autoroyal-entry-title-wrapper ">
		<div class="autoroyal-entry-title autoroyal-entry-title-align-center">
			<h3 style="color: #17428d;font-size: 2.0em;line-height:normal">Are you in search of a car to drive on Uber and other ride-hailing platforms?</h3>
			<h5 style="color: #696969">We provide the best cars that you can drive on Uber, Bolt, Indrive etc. etc on weekly rental and monthly hire purchase agreement options.</h5>
		</div>
    </div>

	</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3 vc_hidden-sm vc_hidden-xs"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="autoroyal-icon-box autoroyal-icon-box-centered-alt  center " style="border-color: #f0f7ff;"  data-aos-anchor-placement="top-center"  data-aos-delay="0">

				<div class="autoroyal-icon-box-icon icon-bg-shape_1">
							<i class='vc_li vc_li-banknote autoroyal_icon_bg_class_653df29088e59'></i>					</div>
				<div class="autoroyal-icon-box-content">
			<h4 style="color: #0c6489">Best Prices</h4>
			<p  style="color: #696969">We have the most affordable rates in the market. Rent a car from us and remit <br>R1,000 per week from your driving earnings. You can also get a car from us on a rent to own/ hire purchase agreement.</p>
		</div>
				<a class="btn btn-icon-right autoroyal_button_class_653df29088e59 mt-3" href="/contact">Get Started<i class="material-icons">trending_flat</i></a>
		
	</div>

	</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="autoroyal-icon-box autoroyal-icon-box-centered-alt  center " style="border-color: #f0f7ff;"  data-aos-anchor-placement="top-center"  data-aos-delay="0">

				<div class="autoroyal-icon-box-icon icon-bg-shape_2">
							<i class='vc_li vc_li-calendar autoroyal_icon_bg_class_653df29088fa9'></i>					</div>
				<div class="autoroyal-icon-box-content">
			<h4 style="color: #0c6489">Register</h4>
			<p  style="color: #696969">You can get a car from us at anytime by applying to become registered on maxride. We are here for you (24/7).</p>
		</div>
				<a class="btn btn-icon-right autoroyal_button_class_653df29088fa9 mt-3" href="/contact">Apply Now<i class="material-icons">trending_flat</i></a>
		
	</div>

	</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="autoroyal-icon-box autoroyal-icon-box-centered-alt  center " style="border-color: #f0f7ff;"  data-aos-anchor-placement="top-center"  data-aos-delay="0">

				<div class="autoroyal-icon-box-icon icon-bg-shape_3">
							<i class='vc_li vc_li-world autoroyal_icon_bg_class_653df2908908f'></i>					</div>
				<div class="autoroyal-icon-box-content">
			<h4 style="color: #0c6489">Locations</h4>
			<p  style="color: #696969">Through our innovative partnership network with car dealerships and private car owners in all major cities in South Africa, you can register with us online in over 20+ cities and get a car delivered to your address!</p>
		</div>
				<a class="btn btn-icon-right autoroyal_button_class_653df2908908f mt-3" href="/contact">Learn More <i class="material-icons">trending_flat</i></a>
		
	</div>

	</div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1554284718062"><div class="wpb_column vc_column_container vc_col-sm-3 vc_hidden-sm vc_hidden-xs"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="autoroyal-entry-title-wrapper  vc_custom_1563803589339">
		<div class="autoroyal-entry-title autoroyal-entry-title-align-center">
			<p class="ar-badge">Check out our Best Offers</p>			<h3 style="color: #0c6489">Hottest Deals</h3>					</div>
    </div>

	</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3 vc_hidden-sm vc_hidden-xs"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div></section><div class="vc_row-full-width vc_clearfix"></div><section data-vc-full-width="true" data-vc-full-width-init="false" data-vc-bg-color="#F0F7FF" data-vc-bg-pattern-color="#F0F7FF" data-vc-devider-color="#F0F7FF" data-unique-id="653df2908930b" class="vc_section autoroyal-overflow-visible z-index-9 vc_custom_1554379072060 vc_section-has-fill ar-section-pattern-offset-bottom ar-section-bg-oriented-left data-unique-id-653df2908930b"><div class="vc_row wpb_row vc_row-fluid vc_custom_1554281764291"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
    <div class="autoroyal-latest-vehicles autoroyal-vehicles-for-rent ">

        <div class="row" style="justify-content: space-around;">
                <div id="car-rent-id-7710" class="col-sm-6 autoroyal-animated-blk autoroyal-vehicle-grid-block autoroyal-vehicle-rent">
                    <div class="autoroyal-vehicle-block">
						<img src="/static/images/car_banner1.webp" alt="car_banner">
                    </div>
                </div>

                <div id="car-rent-id-7704" class="col-sm-6 autoroyal-animated-blk autoroyal-vehicle-grid-block autoroyal-vehicle-rent">
                    <div class="autoroyal-vehicle-block">
						<img src="/static/images/car_banner2.webp" alt="car_banner">
                    </div>
                </div>
        </div>

    </div>

	</div></div></div></div></section>
	

	<div class="vc_row-full-width vc_clearfix">

	<h4 style="text-align: center;color: #0c6489;font-weight: bold;margin-top: 100px;">We do not charge any down payment or deposit.  Apply to get a car from us and pay your weekly remittances only from your driving earnings.</h4>
	</div><section data-vc-bg-color="#F0F7FF" data-vc-bg-pattern-color="#F0F7FF" data-vc-devider-color="#F0F7FF" data-unique-id="653df2908b38f" class="vc_section vc_custom_1554729235478 vc_section-has-fill ar-section-pattern-offset-bottom ar-section-bg-oriented-left data-unique-id-653df2908b38f"><div class="vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1034" height="706" src="https://fleetpartners.ng/wp-content/uploads/2019/03/undraw_fast_car_p4cu-3.svg" class="vc_single_image-img attachment-full" alt="" decoding="async" fetchpriority="high" /></div>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_hidden-sm vc_hidden-xs"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  ar-badge" >
		<div class="wpb_wrapper">
			<h2>Our Vision at FleetPartners</h2>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element  block-header" >
		<div class="wpb_wrapper">
			<p>To be the convenient and comprehensive source for affordable transport and logistics for businesses and individuals across Africa.</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element  vc_custom_1553723556591 block-content" >
		<div class="wpb_wrapper">
			<p>From researching the vehicle you want to test driving your options, we’re here to help with our knowledgeable sales staff and an impressive selection of cars, trucks, and SUVs.!</p>

		</div>
	</div>

	<div class="autoroyal-button-container ">

		<a class="autoroyal-button autoroyal_button_653df2908bda5 button-icon-right  autoroyal-button-align-left" href="/contact">

						<span>LEARN MORE</span>
							<!-- <i class='vc-material vc-material-arrow_forward'></i>			 -->
		</a>

	</div>

	</div></div></div></div></section><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="autoroyal-entry-title-wrapper  vc_custom_1563827053995">
		<div class="autoroyal-entry-title autoroyal-entry-title-align-center">
						<h3 style="color: #0c6489">Our Services</h3></div>
    </div>

	</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="icon-box-left-holder autoroyal-icon-box autoroyal-icon-box-centered-alt  left " style="border-color: #f0f7ff;"  data-aos-anchor-placement="top-center"  data-aos-delay="0">

				<div class="icon-box-left autoroyal-icon-box-icon icon-bg-circle">
							<img src="https://fleetpartners.ng/wp-content/uploads/2019/07/car-loans-ownership-key-finance-leasing-512.png" alt="">
					</div>
				<div class="media-body">
			<div class="autoroyal-icon-box-content">
				<h4 style="color: #0c6489">Vehicle Leasing</h4>
				<p  style="color: #696969">We provide easy access to cars for individuals, professional drivers, Uber drivers that are looking for a car to drive on delivery and ride-hailing platforms such as Uber, Bolt, Indrive etc. We offer two registration contract agreements: The weekly rental agreement and the Hire purchase/ rent to own agreement. You can register for any contract option that best suits you.</p>
			</div>
						<a class="btn btn-icon-right autoroyal_button_class_653df2908c24d mt-3" href="/contact">Learn More <i class="material-icons">trending_flat</i></a>
					</div>

	</div>

	</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="icon-box-left-holder autoroyal-icon-box autoroyal-icon-box-centered-alt  left " style="border-color: #f0f7ff;"  data-aos-anchor-placement="top-center"  data-aos-delay="0">

				<div class="icon-box-left autoroyal-icon-box-icon icon-bg-circle">
							<img src="https://fleetpartners.ng/wp-content/uploads/2019/07/109-512.png" alt="">
					</div>
				<div class="media-body">
			<div class="autoroyal-icon-box-content">
				<h4 style="color: #0c6489">Fleet Management</h4>
				<p  style="color: #696969">We set up structures and controls to run fleet operations and maximize profit, be it in finance lease, operations lease, or any other lease solution we provide. We use our innovative and professional personnel, advance technology and pool of experience to manage operations for your fleet.</p>
			</div>
						<a class="btn btn-icon-right autoroyal_button_class_653df2908c526 mt-3" href="/about">Learn More <i class="material-icons">trending_flat</i></a>
					</div>

	</div>

	</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="icon-box-left-holder autoroyal-icon-box autoroyal-icon-box-centered-alt  left " style="border-color: #f0f7ff;"  data-aos-anchor-placement="top-center"  data-aos-delay="0">

				<div class="icon-box-left autoroyal-icon-box-icon icon-bg-circle">
							<img src="https://fleetpartners.ng/wp-content/uploads/2019/07/18-512.png" alt="">
					</div>
				<div class="media-body">
			<div class="autoroyal-icon-box-content">
				<h4 style="color: #0c6489">Referral Program</h4>
				<p  style="color: #696969">Do you have a friend or know anyone that is looking  for a car to drive on Uber, Bolt, Indrive? Refer a friend to rent a car from us and earn R400 for each person that you refer to us.</p>
			</div>
						<a class="btn btn-icon-right autoroyal_button_class_653df2908c79b mt-3" href="/contact">Learn More <i class="material-icons">trending_flat</i></a>
					</div>

	</div>

	</div></div></div></div><section data-vc-full-width="true" data-vc-full-width-init="false" data-vc-bg-color="#F0F7FF" data-vc-bg-pattern-color="#F0F7FF" data-vc-devider-color="#F0F7FF" data-unique-id="653df2908c841" class="vc_section vc_custom_1554379181516 vc_section-has-fill ar-section-pattern-offset-bottom ar-section-bg-oriented-left data-unique-id-653df2908c841"><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-3 vc_hidden-sm vc_hidden-xs"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="autoroyal-entry-title-wrapper  vc_custom_1563808062029">
		<div class="autoroyal-entry-title autoroyal-entry-title-align-center">
						<h3 style="color: #0c6489">Happy drivers on MaxRide.</h3>
						<!-- <h5 style="color: #696969">Happy customers on MaxRide</h5> -->
					</div>
    </div>

	</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3 vc_hidden-sm vc_hidden-xs"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
    <div class="owl-carousel owl-theme testimonials-carousel center-testimonials ">

        
        <div class="item autoroyal-testimonials-holder testimonial_class_653df2908cdd5">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="autoroyal-testimonials text-center">

                        <div class="text-center"><i class="material-icons">format_quote</i></div>

                        <div class="autoroyal-post-testimonials-content">
                            </p>
<p style="text-align: center">MaxRide have the best prices in the market. And their response time is amazing. You apply and they contact you almost immediately.</p>
<p>                        </div>

                        <div class="user">
                            <img src="/static/images/ind_3.jpg" alt="user-interface" class="img-responsive img-circle">                            <div class="user-info">
                                <h3 class="text-capitalize">Mike Ndlovu</h3>
                                <span class="text-muted">Pretoria, South Africa</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    
        <div class="item autoroyal-testimonials-holder testimonial_class_653df2908d03c">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="autoroyal-testimonials text-center">

                        <div class="text-center"><i class="material-icons">format_quote</i></div>

                        <div class="autoroyal-post-testimonials-content">
                            </p>
<p style="text-align: center">It&#8217;s good to have a platform like MaxRide that provided me with a car that I can drive on Uber.</p>
<p>                        </div>

                        <div class="user">
                            <!-- <img src="https://fleetpartners.ng/wp-content/uploads/2019/07/user-100x100.png" alt="user-interface" class="img-responsive img-circle"> -->
                            <img src="/static/images/ind_1.jpg" alt="user-interface" class="img-responsive img-circle">
								<div class="user-info">
                                <h3 class="text-capitalize">Makena Gumede</h3>
                                <span class="text-muted">Durban, KwaZulu-Natal</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    
        <div class="item autoroyal-testimonials-holder testimonial_class_653df2908d130">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="autoroyal-testimonials text-center">

                        <div class="text-center"><i class="material-icons">format_quote</i></div>

                        <div class="autoroyal-post-testimonials-content">
                            </p>
<p style="text-align: center">Best platform to register and get a car for ride-hailing driving business. I will always Recommend maxride to friends.</p>
<p>                        </div>

                        <div class="user">
                            <img src="/static/images/ind_2.jpg" alt="user-interface" class="img-responsive img-circle">                            <div class="user-info">
                                <h3 class="text-capitalize">Lindiwe khumalo</h3>
                                <span class="text-muted">Durban, KwaZulu-Natal</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    
    </div>

    </div></div></div></div></section><div class="vc_row-full-width vc_clearfix"></div>

                            
                        
                    
                </div>

                </main>

        </div><!-- #primary -->

    </div>


			</div>
			{% endblock %}